@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@font-face {
	font-family: adequateextralight;
	src: url(adequate.extra-light.ttf);
}

@font-face {
	font-family: unisans;
	src: url(UniSansThin.otf);
}

html, body { overflow-x: hidden; }
 
body {
	background-color: white;
	background-color: #F2F2F2;
	color: white;
}

body.marketing-tasks {
	background-color: #fff;
}

a {
	color: inherit;
}
a:active {
	text-decoration: none;
	color: inherit;

}

a:hover {
	text-decoration: none;
	color: inherit;
}

/*****  Centering *****/
.row-centered {
	text-align: center;

}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
	vertical-align:middle;
}


/*** BAR ****/
.bar {
	color: #006ac7;
	font-weight: bold;
	padding-top: 16px;
	height: 60px;
	font-size: 1.4em;
}

.bar-2 {
	color: #006ac7;
	font-weight: bold;
	padding-top: 16px;
	height: 60px;
	font-size: 1.4em;
	border-bottom: 1px solid rgba(0,106,199,1);
	background-color: #F2F2F2;

}

/**** LOGO ***
.title {
	font-size: 2.7em;
}

/*** FEATURES ****/
.features {
	color: #006ac7;
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 15px;
}

.features-writing {
	color: black;
	text-align: center;
	font-size: 1.2em;
}

/*** WHAT TO EXPECT ****/
.expect {
	color: #006ac7;
	font-family: 'lato';
	font-weight: bold;test-padding
}

/**** MAIN CONTAINER *****/
.main-container {
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	font-family: 'adequateextralight';
	background-color: grey;
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	background: rgba(0,106,199,1);
	background: -moz-linear-gradient(left, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,106,199,1)), color-stop(65%, rgba(0,106,199,0.84)), color-stop(100%, rgba(0,81,168,0.75)));
	background: -webkit-linear-gradient(left, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	background: -o-linear-gradient(left, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	background: -ms-linear-gradient(left, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	background: linear-gradient(to right, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ac7', endColorstr='#0051a8', GradientType=1 );
    
/*
    background: rgba(26,153,58,0.54);
	background: -moz-linear-gradient(left, rgba(26,153,58,0.54) 0%, rgba(30,179,60,0.88) 73%, rgba(30,179,60,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,153,58,0.54)), color-stop(73%, rgba(30,179,60,0.88)), color-stop(100%, rgba(30,179,60,1)));
	background: -webkit-linear-gradient(left, rgba(26,153,58,0.54) 0%, rgba(30,179,60,0.88) 73%, rgba(30,179,60,1) 100%);
	background: -o-linear-gradient(left, rgba(26,153,58,0.54) 0%, rgba(30,179,60,0.88) 73%, rgba(30,179,60,1) 100%);
	background: -ms-linear-gradient(left, rgba(26,153,58,0.54) 0%, rgba(30,179,60,0.88) 73%, rgba(30,179,60,1) 100%);
	background: linear-gradient(to right, rgba(26,153,58,0.54) 0%, rgba(30,179,60,0.88) 73%, rgba(30,179,60,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a993a', endColorstr='#1eb33c', GradientType=1 );*/
}

.main-logo {
	margin-left: 20px;
}

.date {
	font-size: 1.2em;
}

.motto {
	font-size: 2.9em;
	font-weight: lighter;
	font-family: 'lato';
}

.motto-2 {
	font-size: 2.7em;
	font-family: 'lato';
}

.feature-title {
	font-size: 2em;
}

/*CARD*/
.feature-title-card {
	font-size: 1.2em;
}

.testimonials {
	font-size: 2.4em;
	color: black;
	text-align: center;
}

.testimonials-2 {
	font-size: 1.6em;
	color: black;
	text-align: center;
}

.test-padding {
	padding-left: 60px;
	padding-right: 60px;
}


button {
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 1.7em;
	font-family: 'lato';
	font-weight: lighter;
	padding: 10px;
	background: #006ac7;
}

button:hover {
	color: #006ac7;
	border: 2px solid #006ac7;
	background: white;
}

/****** BUTTON 2 *****/
button.two {
	color: #006ac7;
	border: 2px solid #006ac7;
	border-radius: 5px;
	font-size: 1.7em;
	font-family: 'lato';
	font-weight: lighter;
	padding: 10px;
	background: #fff;
}

button.two:hover {
	color: white;
	border: 2px solid #fff;
	background-color: #006ac7;
}


/******  FIRST CONTAINER *******/
.first-container {
    font-size: 1.1em;
    font-family: 'lato';
    text-align: center;
    height: 300px;
    width: 100%;
    background: rgba(0,106,199,1);
	background: -moz-linear-gradient(left, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,106,199,1)), color-stop(65%, rgba(0,106,199,0.84)), color-stop(100%, rgba(0,81,168,0.75)));
	background: -webkit-linear-gradient(left, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	background: -o-linear-gradient(left, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	background: -ms-linear-gradient(left, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	background: linear-gradient(to right, rgba(0,106,199,1) 0%, rgba(0,106,199,0.84) 65%, rgba(0,81,168,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ac7', endColorstr='#0051a8', GradientType=1 );
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.2em;
	border-radius: 5px;
}

.fa-facebook-square, .fa-twitter-square, .fa-envelope-o, .fa-file-text-o, .fa-eur, .fa-desktop {
	font-size: 2.5em;
}

.fa-thumbs-up {
	font-size: 2.5em;
	color: rgba(0,106,199,1);
}

.fa-eur,.fa-facebook-square {
	margin-right: 10px;
}

.fa-mobile {
	font-size: 3em;
}

.feature-text {
	font-size: 15px;
}

/****** FOOTER *******/
.footer {
	background-color: #2a2a2a;
	height: 200px;
	font-size: 1em;
}

/***** CENTRE & SPACER *****/
.center {
	text-align: center;
}

.spacer-80 {
	height: 80px;
}

.spacer-80-white {
	height: 80px;
	background-color: #fff;
}

.spacer-80-tasks {
	height: 80px;
}

.space-min.spacer-80 {
	height: 10px;
}

.spacer-60 {
	height: 60px;
}

.spacer-60-marketing-tasks {
	height: 60px;
}

.spacer-40 {
	height: 40px;
}

.spacer-20 {
	height: 20px;
}

.spacer-20-white {
	height: 20px;
	background-color: #fff;
}

.spacer-10 {
	height: 10px;
}

.spacer-10-middle {
	height: 10px;
}


/***** OUTSOURCE *****/
.border {
	border-bottom: 1px solid grey;
}

.border-1 {
	border-bottom: 1px solid grey;
	background-color: #fff;
}

.border-3 {
	border-bottom: 1px solid grey;
	background-color: #fff;
}

/***** TABLE *****/
.the-table {
}

.table-bordered,th, td {
	font-size: 14px;
	font-family: 'lato';
	color: black;
}

.bigger {
	font-size: 20px;
	font-family: 'lato';
	color: black;
	padding: 20px;
	text-align: center;
}

.marketing-club {
	color: #006ac7;
}

.fa-times-circle { 
	color: red;
	font-size: 2em;
	
}

.fa-check-circle {
	color: green;
	font-size: 2em;
}

.browse-tasks {
	background-color: #fff;

}

/****** MEDIA QUERIES ******/
@media (max-width: 600px) {

	.the-table {
		display: none;
	}

	.spacer-80-white {
		height: 40px;
	}

	.bar {
		margin-left: 25px;
	}

	.bar-2 {
		padding-left: 25px;
	}

	.motto,.discount {
		text-align: center;
	}

	.spacer-10 {
		height:0px;
	}

	.spacer-40.bottom {
		height: 0;
	}

	.main-container {
		height: 650px;
	}

	.image2 {
		display: block;
	}

	.expect-spacer {
		height: 15px;
	}

	.expect {
		padding-top: 6px;
	}

	.mc_embed_signup {
		margin-bottom: 20px;
	}

	.first-container {
		font-size: 16px;
		padding: 25px 10%;
		width: 90%;
		margin-bottom: 20px;
		margin-left: 4%
	}

	.spacer-10-middle {
		height: 0px;
	}

	.spacer-80-tasks {
		height: 0px;
	}

	.spacer-60-marketing-tasks {
		height: 20px;
	}

	.motto {
		font-size: 2em;
	}

	.motto-2 {
		font-size: 1.7em;
	}

	.main-container {
		height: 450px;
	}

	.neachtains {
		margin-bottom: 20px;
	}

	.testimonials-2 {
		font-size: 1.4em;
	}

	.features-writing {
		padding-left: 40px;
		padding-right: 40px;

	}

}


/***** MEDIA QUERIES ******/
@media (max-width: 768px) {
	.title {
		color: red;
	}
/*
	.center-block {
		display: inline-block;
		margin-left: 30px;
	}

	.center.date {
		margin-left: 30px;
		text-align: left;
	}*/

	.image2 {
		display: none;
	}

	.first-container, .second-container, .third-container {
		height: 200px;
	}

	.spacer-10-middle {
		height: 0px;
	}

	.spacer-40.bottom {
		height: 0px;
	}

	.motto,.discount {
		text-align: center;
	}


}

@media (max-width: 900px) {
	
	.spacer-10-middle {
		height: 10px;
	}

	.first-container, .second-container, .third-container {
		height: 200px;
		padding: 25px 10%;
	}

	.spacer-40.bottom {
		height: 40px;
	}

	.center-block {
		display: inline-block;
		margin-left: 30px;
	}

	.center.date {
		margin-left: 30px;
		text-align: left;
	}

	.motto,.discount {
		text-align: left;
	}

}

@media(max-width: 1220px) {
	.first-container, .second-container, .third-container, .fourth-container {
		height: 350px;
/*		padding: 25px 10%;
*/	}
	.spacer-40.bottom {
		height: 40px;
	}

	.center-block {
		display: inline-block;
		margin-left: 30px;
	}

	.center.date {
		margin-left: 30px;
		text-align: left;
	}

	.motto,.discount {
		text-align: left;
	}

}

@media (max-width: 1800px) {

	.first-container, .second-container, .third-container, .fourth-container {
/*		padding: 25px 20%;
*/		height: 320px;
	}

	.spacer-40.bottom {
		height: 40px;
	}


	.center-block {
		display: inline-block;
		margin-left: 30px;
	}

	.center.date {
		margin-left: 30px;
		text-align: left;
	}

	.motto,.discount {
		text-align: left;
	}



}